<div id="holder">
    <h1>about us</h1>
    <section class="history-kenya">
        <h2>our history</h2>
        <p>Longrich is an international manufacturing company founded in 1986 with its headquarters in China.It has offices in over 190 countries globally.
             It has nine world class research and development centres based in China, France, America, Africa and Japan.
             Longrich landed in Africa seven years ago in Lagos Nigeria. Its first office was opened in Kenya in 2017 in Nairobi and since it has spread all over the 
             country with Nakuru, Kisumu, Eldoret, Kakamega, Mombasa e.t.c being branch ambassodors.
        </p>
    </section>
    <div class="cleafix-padding"></div>
    <section class="services">
        <h2>health</h2>
        <div class="product-services"> 
            <img src={{productImage}} alt="a  product image">
            <p>Being unhealthy is one thing most people don't like. Poor diet, lack of regular exercise and consumption of unhealthy products
                 are one of the major causes of health issues. Longrich bioscience, provides high quality organic products that not only help to improve one's 
                health but also takes care of your pocket.</p>
        </div>
    </section><div class="cleafix-padding"></div>
    <section class="vision">
        <h2>Our Vision</h2>
        <p>
            Our vision is to ensure people live a healthy life around the globe through consuming organic products.
            Apart from that, we want to ensure that every African family can earn income through using or switching their brand to longrich products.
            Click on the link below to see how you can generate income.
        </p>
    </section>
</div>