<section class="color-picker">
    <div class="three">
        <p>fdf7f4</p>
    </div>
    <div class="two">
        <p>99e1d9</p>
    </div>
    <div class="five">
        <p>70abaf</p>
    </div>
    <div class="four">
        <p>705d56</p>
    </div>
    <div class="one">
        <p>32292f</p>
    </div>
</section>

<section class="color-picker">
    <div class="tw">
        <p>364156</p>
    </div>
    <div class="fou">
        <p>212d40</p>
    </div>
    <div class="on">
        <p>11151c</p>
    </div>
    <div class="thre">
        <p>d66853</p>
    </div>
    <div class="fiv">
        <p>7d4e57</p>
    </div>
</section>