<div id="holder">
    <button class="btn btn-back" (click)="reDirectTo()">back</button>
    <section class="section">
        <h1>{{product.productName}}</h1>
        <div class="grid-container">
           <img src={{product.productImage}} alt="a longrich product image">
      <div class="list-container">
               <ul>
               <li>{{product.productDescriptionOne}}</li>
               <li>{{product.productDescriptionTwo}}</li>
               <li>{{product.productDescriptionThree}}</li>
               <li>{{product.productDescriptionFour}}</li>
               <li>{{product.productDescriptionFive}}</li>
               <li>{{product.productDescriptionSix}}</li>
               <li>{{product.productDescriptionSeven}}</li>
           </ul>
        </div></div>
        <button class="btn btn-book" (click)="contactReDirect()">buy now</button>
    </section> 
</div>
