<div id="holder">
    <h1>{{title}}</h1>
     <section class="contact-container">
        <h2>abel ekesa</h2>
        <img src={{contactPhoto}} alt="abels image">
        <p>longrich member</p>
        <p>kenya branch</p>
        <p>0741554730</p>
        <p>0795958370</p>
    </section>
    <section class="contact-container">
        <h2>chege james</h2>
        <img src={{contactPhotoTwo}} alt="designers image">
        <p>programmer</p>
        <p>longrich associate</p>
        <p>{{phone}}</p>
        <p>{{phoneTwo}}</p>
    </section>


    <section class="feedback">
        <!-- its just a place where ourvisitors can give us their point of view or maybe buy our products -->
        <!--- so it can have a place to put their feedback,their name, maybe their email and then submit to my email -->
        <!-- hmmn lets get going -->
        <!-- its good to get going,..ill be back soon -->
        <form action="" class="formation">
            <legend>Give us your feedback</legend>
            <textarea name="feedback" value="your feedback..." cols="30" rows="10" placeholder="input your text..."></textarea>
            <label for="abracadabra">your name</label>
            <input type="text" name="name" id="abracadabra" placeholder="chege">
            <label for="cadabra">your email</label>
            <input type="email" name="email" id="cadabra">
            <input type="button" value="submit" class="btn">
        </form>
    </section>
</div>