<div>
   
     <router-outlet></router-outlet> 

     <footer class="amaizing-footer">
         <section class="footer-section">
            <a routerLink="/">
                <i class="fa fa-home"></i>
                <p>products</p>
            </a>
            <a routerLink="about">
                <i class="fa fa-book"></i>
                <p>about us</p>
            </a>
            <a routerLink="contact">
                <i class="fa fa-phone"></i>
                <p>contact us</p>
            </a>
         </section>
     </footer>
</div> 
  
  